<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | By Code Info</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form action="/login_form" method="post">
        <label>Email</label>
        <input type="email" name="email" placeholder="Email id" />
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Submit"  />
      </form>
    </div>
    <p class="para-2">
      Not have an account? <a href="/">Sign Up Here</a>
    </p>
  </body>
</html>